<h3 class='title'>Servers</h3>
<hr class='title'>

<div class="container">
    <h6>App Status: {{ appStatus | async}}</h6>
    
    <input type="text" [(ngModel)]="filteredStatus">&nbsp;
    <button class="btn btn-primary" (click)="onAddServer()"
    >
        Add Server
    </button>
    <p></p>

    <div class="row">
  
        <div class="col-md-12">
            <ul class="list-group">
                <li
                    class="list-group-item"
                    *ngFor="let server of servers | filter: filteredStatus: 'status'"
                >
                    <span
                        class="badge badge-primary"
                    >
                        {{ server.status }}
                    </span>
                    &nbsp; &nbsp; 
                    <strong>{{ server.name | shorten: 10 }}</strong> | 
                    {{ server.instanceType }} |
                    {{ server.started | date: fullDate | uppercase}}
                
                </li>
            </ul>
        </div>
 
    </div>

</div>
  
