<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div id="user-data">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              required
              ngModel
              name="username"
              #username="ngModel"
            />
            <span *ngIf="!username.valid && username.touched" class="help-block"
              >Please enter a value.</span>
          </div>

          <button
            class="btn btn-outline-info"
            style="margin-bottom: 10px"
            type="button"
            (click)="suggestUserName($event)"
          >
            Suggest an Username
          </button>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              email
              required
              ngModel
              name="email"
              #email="ngModel"
              
            />
            <span *ngIf="!email.valid && email.touched" class="help-block"
              >Please enter a valid email!</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            required
            [ngModel]="defaultSecret"
            name="secret"
            #secret="ngModel"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
          <span *ngIf="!secret.valid && secret.touched" class="help-block"
            >Please select and option!</span
          >
        </div>

        <div class="form-group">
          <textarea
            name="questionAnswer"
            class="form-control"
            row="3"
            [(ngModel)]="answer"
          >
          </textarea>
          <p>Reply: {{ answer }}</p>
        </div>
     
        <div *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender" />
               {{ gender }}
          </label>
        </div>

        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">
          Submit
        </button>
      </form>

      <!-- <div class="row align-items-center justify-content-center header disable-text" 
        *ngIf="submitted"
      >
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.username }}</p>
          <p>Mail: {{ user.email }}</p>
          <p>Secret Question: Your first {{ user.secretQuestion }}</p>
          <p>Answer: {{ user.answer }}</p>
          <p>Gender: {{ user.gender }}</p>
        </div>
      </div> -->
      
      <!-- Declarative approach which determine if a component will be added to the DOM -->
      <app-alert *ngIf="submitted" [message]="message" (close)="onClose($event)"></app-alert>
    </div>
    
  </div>
</div>

<router-outlet></router-outlet>
