<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <!-- <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)"> -->
        <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm)">

          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              ngModel
              name="title"
            />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <textarea
              class="form-control"
              id="content"
              required
              ngModel
              name="content"
            ></textarea>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">

              <button
                  class="btn btn-primary"
                  type="submit"
                  [disabled]="!postForm.valid"
              >
                  Save
              </button>

              &nbsp;&nbsp;
              <button class="btn btn-primary" (click)="onFetchPosts()">
                  Fetch Posts
              </button>

              &nbsp;&nbsp;
              <button
                  class="btn btn-danger"
                  [disabled]="loadedPosts.length < 1"
                  (click)="onDeleteAllPosts()"
              >
                 Delete All Posts
              </button>

              &nbsp;&nbsp;
              <button
                  class="btn btn-success"
                  type='reset'
                  (click)="onClearForm(postForm)"
              >
                  Clear Form
              </button>

            </div>
          </div>

        </form>

      </div>
    </div>
    <hr />


    <p>&nbsp;</p>

    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

        <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>

        <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
          <li class="list-group-item" *ngFor="let post of loadedPosts">
            <h5>{{ post.title }}</h5>
            <p>{{ post.content }}</p>
          </li>
        </ul>

        <p *ngIf="isFetching && !error">Loading...</p>
        <div class="alert alert-danger" *ngIf="error">
          <h1>An Error Occurred!</h1>
          <p>{{ error }}</p>
          <button class="btn btn-danger" (click)="onClearError()">
              OK
          </button>
        </div>

      </div>
    </div>
  </div>
