<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <form [formGroup]='registerForm' (ngSubmit)="onSubmit()" >
                <div formGroupName='userData'>

                    <div class="form-group">
                        <label for="username" class='label'>Username</label>
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            formControlName='username'
                        />
                        <!-- <span class='help-block'
                            *ngIf='!registerForm.get("userData.username").valid && registerForm.get("userData.username").touched'
                        >
                            Username is required.
                        </span> -->
 
                        <span *ngIf="!registerForm.get('userData.username').valid && registerForm.get('userData.username').touched"
                            class="help-block">
                            <span *ngIf="registerForm.get('userData.username').errors['nameIsForbidden']">Forbidden name!</span>
                            <span *ngIf="registerForm.get('userData.username').errors['required']">This field is required!</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email" class='label'>Email</label>
                        <input
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName='email'
                        />
                        <span class='help-block'
                            *ngIf='!registerForm.get("userData.email").valid &&
                                 registerForm.get("userData.email").touched'
                        >
                            Please enter a valid email address.
                        </span>
                       
                    </div>
    
                <!-- userData -->
                </div>

                <div class="form-group">
                    <fieldset class="border p-2">
                        <legend>Gender</legend>
                        <div *ngFor="let gender of genders">
                            <label>
                                <input type="radio" name="gender"
                                    formControlName='gender'
                                    [value]='gender'
                                />
                                    {{ gender }}
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div formArrayName="hobbies">
                    <h5>Your Hobbies</h5>
                    <button (click)="onAddHobby()"
                        class="btn btn-link"
                        type="button"
                    >
                        Add Hobby
                    </button>
                    <div class="form-group"
                        *ngFor="let c of getControls(); let i = index"
                    >
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>
                
                <p>&nbsp;</p>
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
                &nbsp;
                <button class="btn btn-primary"  (click)='onClear()'>
                    Clear
                </button>
            </form>

        <!-- bootstrap col -->
        </div>

    <!-- row -->
    </div>

<!-- container -->
</div>


