fieldset {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}
legend {
    width: auto;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color:#0069d9
}
.label {
    font-size: 14px;
    font-weight: bold;
    color: #0069d9;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid maroon;
}